<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <main class="main-container" th:fragment="content">
        <div class="left-section">
            <div class="user-info menu-style">
                <a href="#">회원 정보</a>
            </div>
            <div class="community-activity menu-style">
                <a href="#">커뮤니티 활동</a>
                <div class="sub-menu-style">
                    <div class="my-post">
                        <a href="#">내가 작성한 게시글</a>
                    </div>
                    <div class="my-comment">
                        <a href="#">내가 작성한 댓글</a>
                    </div>
                    <div class="like-post">
                        <a href="#">좋아요 누른 게시글</a>
                    </div>
                    <div class="like-comment">
                        <a href="#">좋아요 누른 댓글</a>
                    </div>
                </div>
            </div>
            <div class="bookmark menu-style">
                <a href="#">즐겨찾기 목록</a>
            </div>
            <div class="latest-info menu-style">
                <a href="#">최근 본 정보</a>
            </div>
            <div class="question-answer">
                <a href="#">ForYouth Q&A</a>
            </div>
        </div>
        <div class="right-section">
            <div class="container">
                <div th:if="${provider == null}" class="card">
                    <h3>🙂 기본 정보</h3>
                    <p><strong>아이디:</strong> <span th:text="${userId}"></span></p>
                    <p><strong>이름:</strong> <span th:text="${dto.userName}"></span></p>
                    <p><strong>이메일:</strong> <span th:text="${dto.userEmail}"></span></p>
                    <p><strong>휴대폰 번호:</strong> <span th:text="${dto.userPhone}"></span></p>
                    <p><strong>생년월일:</strong> <span th:text="${dto.userBirth}"></span></p>
                    <p><strong>계정 생성일:</strong> <span th:text="${#temporals.format(dto.regDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></p>
                    <p><strong>관심 분야: </strong> <span class="userInterests" th:text="${interests}"></span></p>
                    <button>정보 수정</button>
                </div>

                <div th:if="${provider == 'kakao'}" class="card">
                    <h3>🙂 기본 정보</h3>
                    <p><strong>이름:</strong> <span th:text="${dto.nickname}"></span></p>
                    <p><strong>이메일:</strong> <span th:text="${dto.email}"></span></p>
                    <p><strong>계정 생성일:</strong> <span th:text="${#temporals.format(dto.regDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></p>
                    <p><strong>관심 분야: </strong> <span class="userInterests" th:text="${interests}"></span></p>
                    <button>정보 수정</button>
                </div>

                <div th:if="${provider == 'naver'}" class="card">
                    <h3>🙂 기본 정보</h3>
                    <p><strong>이름:</strong> <span th:text="${dto.name}"></span></p>
                    <p><strong>이메일:</strong> <span th:text="${dto.email}"></span></p>
                    <p><strong>생년월일:</strong> <span th:text="${dto.birthyear + '-' + dto.birthday}"></span></p>
                    <p><strong>계정 생성일:</strong> <span th:text="${#temporals.format(dto.regDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></p>
                    <p><strong>관심 분야: </strong> <span class="userInterests" th:text="${interests}"></span></p>
                    <button>정보 수정</button>
                </div>

                <div class="card">
                    <h3>🔔 마케팅 정보 수신 설정</h3>
                    <p>
                        <strong>마케팅 정보 수신 동의:</strong>
                        <span th:text="${dto.agreedEventAlarm} ? '⭕' : '❌'"></span>
                    </p>
                    <button onclick="marketingBtn()" id="marketingBtn"
                            th:text="${dto.agreedEventAlarm} ? '마케팅 정보 수신 거부' : '마케팅 정보 수신 동의'">
                    </button>
                </div>

                <div class="card">
                    <h3>🌟 관심 분야</h3>
                    <div class="interest-group">
                        <div class="check">
                            <span>
                                <label class="custom_checkbox">
                                    <input type="checkbox" id="checkItem1" class="check_item">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="checkbox_text"><strong>취업</strong></span>
                        </div>

                        <div class="check">
                            <span>
                                <label class="custom_checkbox">
                                    <input type="checkbox" id="checkItem2" class="check_item">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="checkbox_text"><strong>주거</strong></span>
                        </div>

                        <div class="check">
                            <span>
                                <label class="custom_checkbox">
                                    <input type="checkbox" id="checkItem3" class="check_item">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="checkbox_text"><strong>금융</strong></span>
                        </div>

                        <div class="check">
                            <span>
                                <label class="custom_checkbox">
                                    <input type="checkbox" id="checkItem4" class="check_item">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="checkbox_text"><strong>교육</strong></span>
                        </div>

                        <div class="check">
                            <span>
                                <label class="custom_checkbox">
                                    <input type="checkbox" id="checkItem5" class="check_item">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="checkbox_text"><strong>편의/복지</strong></span>
                        </div>
                    </div>
                    <button onclick="saveInterests()">관심 분야 저장</button>
                </div>

                <a th:if="${provider == null}" href="#" id="openModal2" class="card2-a"><div class="card2">
                    <h4>🔑 비밀번호 변경</h4>
                </div></a>

                <div th:if="${provider == null}" id="changePwModal" class="modal">
                    <div class="modal_content">
                        <h2>비밀번호 변경</h2>
                        <div class="modal_inputs">
                            <div class="pw_div">
                                <label><strong>기존 비밀번호&nbsp;</strong><small>*</small></label>
                                <div>
                                    <input type="password" placeholder="기존 비밀번호" id="originalPw" name="userPw">
                                </div>
                                <div id="originalPwBlank" class="error_message">기존 비밀번호를 입력해주세요.</div>
                            </div>
                            <div class="pw_div">
                                <label><strong>새로운 비밀번호&nbsp;</strong><small>*</small></label>
                                <div>
                                    <input type="password" placeholder="새로운 비밀번호 (8~24자, 영문/숫자/특수문자 포함)" id="newPw" name="userPw">
                                </div>
                                <div id="newPwError" class="error_message">비밀번호는 8~24자, 영문/숫자/특수문자를 모두 포함해야 합니다.</div>
                                <div id="newPwBlank" class="error_message">새로운 비밀번호를 입력해주세요.</div>
                            </div>
                            <div class="pw_div">
                                <label><strong>새로운 비밀번호 확인&nbsp;</strong><small>*</small></label>
                                <div>
                                    <input type="password" placeholder="새로운 비밀번호 확인" id="checkNewPw" name="userPw">
                                </div>
                                <div id="checkNewPwBlank" class="error_message">새로운 비밀번호를 다시 한번 입력해주세요.</div>
                                <div id="compareNewPw" class="error_message">입력한 비밀번호가 일치하지 않습니다.</div>
                            </div>
                        </div>
                        <div class="modal_buttons">
                            <button type="button" id="closeModal2" class="modal_button1">닫기</button>
                            <button type="button" id="changeModal" class="modal_button2">변경</button>
                        </div>
                    </div>
                </div>

                <a href="#" class="card2-a"><div class="card2">
                    <h4>❌ 회원 탈퇴</h4>
                </div></a>
            </div>
        </div>
    </main>
</th:block>
</html>
