<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer" th:fragment="footer">
    <div class="footer_inner">
        <div class="footer_top">
            <div class="footer_logo">
                <h2>ForYouth</h2>
            </div>

            <div class="footer_icons">
                <a href="#"><img th:src="@{/images/footer/youtube_icon.png}" alt="YouTube"></a>
                <a href="#"><img th:src="@{/images/footer/instagram_icon.png}" alt="Instagram"></a>
                <a href="#"><img th:src="@{/images/footer/kakaotalk_icon.png}" alt="Kakaotalk"></a>
            </div>
        </div>

        <div class="footer_links">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">고객센터</a>
            <a href="#">회사소개</a>
        </div>

        <p class="footer_copy">Copyright © 2024 ForYouth All Rights Reserved. Icons by <a href="https://icons8.kr/" class="icons8_a" target="_blank">Icons8</a></p>
    </div>
</footer>

</body>
</html>