<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForYouth 회원가입</title>
    <link th:href="@{/css/join/joinDetail.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/join/joinDetail.js}"></script>
    <script type="text/javascript" th:src="@{/js/join/checkId.js}"></script>
    <script type="text/javascript" th:src="@{/js/join/autoFormatBirth.js}"></script>
    <script type="text/javascript" th:src="@{/js/join/autoFormatPhone.js}"></script>
</head>
<body>
<main class="join_container">
    <div class="join_box">
        <form action="/join/join_new" method="post">
            <h1>회원가입</h1>
            <p class="subtitle">회원가입을 하여 다양한 정보들을 받아보세요!</p>
            <div class="join_id">
                <div class="join_id_left">
                    <label><strong>아이디&nbsp;</strong><small>*</small></label>
                    <div>
                        <input type="text" placeholder="아이디 (6~18자 영문 및 숫자 조합)" id="joinId" name="userId">
                    </div>
                    <div id="idError" class="error_message">아이디는 6~18자의 영문과 숫자를 조합해야 합니다.</div>
                    <div id="checkIdBlank" class="error_message">아이디를 입력해주세요.</div>
                </div>
                <div class="join_id_right">
                    <button type="button" class="check_button" onclick="checkUserId()">중복 확인</button>
                    <input type="text" hidden disabled id="checkClickBtn" class="hidden_input" value="false">
                </div>

            </div>
            <div class="join_pw">
                <label><strong>비밀번호&nbsp;</strong><small>*</small></label>
                <div>
                    <input type="password" placeholder="비밀번호 (8~24자, 영문/숫자/특수문자 포함)" id="joinPw" name="userPw">
                </div>
                <div id="pwError" class="error_message">비밀번호는 8~24자, 영문/숫자/특수문자를 모두 포함해야 합니다.</div>
                <div id="checkPwBlank" class="error_message">비밀번호를 입력해주세요.</div>
            </div>
            <div class="join_phone">
                <label><strong>휴대폰&nbsp;</strong><small>*</small></label>
                <div>
                    <input type="text" maxlength="13" placeholder="휴대폰번호 (' - ' 없이 번호만 입력)" id="joinPhone" name="userPhone" oninput="autoFormatPhone(this)">
                </div>
                <div id="phoneError" class="error_message">휴대폰번호를 명확히 입력해주세요.</div>
                <div id="checkPhoneBlank" class="error_message">휴대폰번호를 입력해주세요.</div>
            </div>
            <div class="join_name">
                <label><strong>이름&nbsp;</strong><small>*</small></label>
                <div>
                    <input type="text" placeholder="이름 (한글만 입력)" id="joinName" name="userName">
                </div>
                <div id="nameError" class="error_message">이름은 20자 이내, 한글로 작성해야 합니다.</div>
                <div id="checkNameBlank" class="error_message">이름을 입력해주세요.</div>
            </div>
            <div class="join_birth">
                <label><strong>생년월일&nbsp;</strong><small>*</small></label>
                <div>
                    <input type="text" maxlength="10" placeholder="생년월일 (' - ' 없이 숫자만 입력)" id="joinBirth" name="userBirth" oninput="autoFormatBirth(this)">
                </div>
                <div id="birthError" class="error_message">생년월일을 명확히 입력해주세요.</div>
                <div id="checkBirthBlank" class="error_message">생년월일을 입력해주세요.</div>
            </div>
            <div class="join_email">
                <label><strong>이메일&nbsp;</strong><small>*</small><span></span></label>
                <div>
                    <input type="text" placeholder="email@foryouth.com" id="joinEmail" name="userEmail">
                </div>
                <div id="emailError" class="error_message">올바르지 않은 이메일 형식입니다.</div>
                <div id="checkEmailBlank" class="error_message">이메일을 입력해주세요.</div>
            </div>
            <input type="hidden" name="agreedEventAlarm" th:value="${agreedEventAlarm}">
            <div>
                <button type="submit" id="joinBtn" class="join_button">가입하기</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>