<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForYouth 로그인</title>
    <link th:href="@{/css/login/loginMain.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/login/loginMain.js}"></script>
</head>
<body th:attr="data-error=${error}">
<main class="login_container">
    <div class="login_box">
        <h1>ForYouth, For Future</h1>
        <p class="subtitle">나를 위한 혜택과 정보들을 찾아보세요:)</p>

        <form th:action="@{/login/loginProcess}" method="post">
            <input type="text" placeholder="아이디" name="userId" required>
            <input type="password" placeholder="비밀번호" name="userPw" required>
            <button type="submit">로그인</button>
        </form>

        <div class="login_links">
            <a th:href="@{/join/joinTermsOfUse}">회원가입</a>
            <span>|</span>
            <a th:href="@{/find/findId}">아이디 찾기</a>
            <span>|</span>
            <a th:href="@{/find/findPw}">비밀번호 찾기</a>
        </div>

        <div class="divider">간편 로그인</div>

        <div class="social_login">
            <button class="naver">
                <span class="span_box">
                    <span class="span_img"><img th:src="@{/images/login/naver_logo.png}"/></span>
                    <span class="span_txt">네이버 계정으로 로그인</span>
                </span>
            </button>
            <button class="google">
                <span class="span_box">
                    <span class="span_img"><img th:src="@{/images/login/google_logo.png}"/></span>
                    <span class="span_txt">구글 계정으로 로그인</span>
                </span>
            </button>
            <button class="kakao" onclick="location.href='/oauth2/authorization/kakao'">
                <span class="span_box">
                    <span class="span_img"><img th:src="@{/images/login/kakao_logo.png}"/></span>
                    <span class="span_txt_kakao">카카오 계정으로 로그인</span>
                </span>
            </button>
        </div>
    </div>
</main>
</body>
</html>

