<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>개인정보 수집 및 이용 약관 동의</title>
    <link th:href="@{/css/foryouth/terms_of_personal_info.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <main>
        <div class="main_box">
            <div class="top">
                개인정보 수집 및 이용 약관 동의
            </div>
            <div class="middle">
                <h4>1. 개인정보의 수집 목적</h4>
                <p>ForYouth는 회원가입, 서비스 제공, 맞춤형 컨텐츠 추천, 회원과의 원활한 의사소통 등을 목적으로 최소한의 개인정보를 수집합니다.</p>
                <h4>2. 수집하는 개인정보 항목</h4>
                <p>사이트는 회원가입 시 다음과 같은 정보를 수집합니다:</p>
                <ul>
                    <li>필수 항목: 이름, 이메일 주소, 비밀번호, 생년월일</li>
                    <li>선택 항목: 휴대전화 번호, 지역 정보</li>
                </ul>
                <h4>3. 개인정보의 이용</h4>
                <p>수집된 개인정보는 다음과 같은 목적을 위해 사용됩니다:</p>
                <ul>
                    <li>회원관리: 본인 확인, 가입의사 확인, 불만 처리 등</li>
                    <li>서비스 제공: 맞춤형 정보 제공, 이벤트 참여 등</li>
                    <li>마케팅 및 광고: 신규 서비스 개발, 이벤트 안내, 맞춤형 광고 제공 등</li>
                </ul>
                <h4>4. 개인정보의 보유 및 이용 기간</h4>
                <p>회원의 개인정보는 회원 탈퇴 시까지 보유하며, 회원이 탈퇴할 경우 해당 정보를 즉시 파기합니다. 단, 법령에 의하여 일정 기간 보관이 필요한 경우는 예외로 합니다.</p>
                <h4>5. 개인정보의 제3자 제공</h4>
                <p>사이트는 회원의 동의 없이 제3자에게 개인정보를 제공하지 않습니다. 단, 법률에 의거해 필요한 경우나 회원이 사전에 동의한 경우는 예외로 합니다.</p>
                <h4>6. 개인정보 보호를 위한 조치</h4>
                <p>사이트는 회원의 개인정보를 안전하게 보호하기 위해 다음과 같은 조치를 취하고 있습니다:</p>
                <ul>
                    <li>개인정보 암호화</li>
                    <li>접근 통제 및 접근 권한 관리</li>
                    <li>개인정보 처리 직원의 최소화 및 교육</li>
                </ul>
                <h4>7. 개인정보 처리방침 변경</h4>
                <p>사이트는 개인정보 처리방침을 변경할 수 있으며, 변경된 사항은 사이트에 공지한 후 적용됩니다. 변경된 내용에 동의하지 않을 경우 회원 탈퇴를 요청할 수 있으며, 계속 서비스를 이용할 경우 변경된 방침에 동의한 것으로 간주됩니다.</p>
                <h4>8. 이용자의 권리</h4>
                <p>회원은 언제든지 자신의 개인정보에 대한 열람, 수정, 삭제를 요청할 수 있으며, 사이트는 이에 즉시 조치합니다.</p>
            </div>
            <div class="bottom">
                <a href="#" class="confirm_a" onclick="javascript:window.close();">
                    <div class="confirm_button">
                        <div class="confirm_button_text">
                            확인
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>