<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForYouth 아이디 찾기</title>
    <link th:href="@{/css/find/findIdFinish.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<main class="find_container">
    <div class="find_box">
        <h1>아이디 찾기</h1>
        <p id="successSubtitle" class="success_subtitle">해당 이메일로 아이디 정보를 전송하였습니다!</p>
        <p id="failSubtitle" class="fail_subtitle">입력하신 정보에 해당하는 계정을 찾을 수 없습니다.</p>

        <button type="submit" class="return_login_button" th:onclick="|location.href='@{/login/loginMain}'|">돌아가기</button>
    </div>
</main>
</body>
</html>